target
.idea/
downward-release-22.12.0
downward-release-22.12.0-patched

benchmark_runs/tobias-HP


logback.xml
ontology-mediated-pmc-assembly-0.2.jar
horn_dl_pddl_compiler
coordinator/.~lock.evaluation.csv#
moreflags2

**/misc/
examples/*/*/misc
examples/*/*/*/misc
coordinator/temp.log
coordinator/benchmarkTemp.csv
coordinator/*.class
coordinator/evaluation/*.class

benchmark_runs/temp_evaluation.ods
coordinator/test.owl
implementation/test.owl
examples/temp/
coordinator/benchmarkTemp.csv
